/xml/TestXSL/nbproject/private/
/xml/TestXSL/build/
/xml/TestXSL/dist/
/xml/DemoDOM/nbproject/private/
/xml/DemoDOM/build/
/xml/TestWeb/nbproject/private/
/xml/TestWeb/build/
/xml/DemoDOM/dist/
/xml/DemoJAXB/nbproject/private/
/xml/DemoJAXB/build/
/xml/DemoSAX_StAX/nbproject/private/
/xml/DemoSAX_StAX/build/
/xml/phatflower/nbproject/private/
/xml/DemoJSPXML/nbproject/private/
/xml/DemoJSPXML/build/
/xml/DemoFinal/nbproject/private/
/xml/DemoFinal/build/
/xml/DemoJPA/nbproject/private/
/xml/DemoJPA/build/
/xml/DemoJPA/dist/
/xml/WebApplication1/nbproject/private/
/xml/WebApplication1/build/
/xml/DemoJPAConsumer/nbproject/private/
/xml/DemoJPAConsumer/build/
/xml/DemoLiveSearch/nbproject/private/