.section {
	margin: 20px 0;
}
.container {
	max-width: 1000px;
	margin: auto;
}
.ml-2 {
	margin-left: 10px;
}
.ml-4 {
	margin-left: 20px;
}
.mr-2 {
	margin-right: 10px;
}
.mr-4 {
	margin-right: 20px;
}
.mt-2 {
	margin-top: 10px;
}
.mt-4 {
	margin-top: 20px;
}
.mb-2 {
	margin-bottom: 10px;
}
.mb-4 {
	margin-bottom: 20px;
}
.grid {
	overflow: auto;
	display: flex;
	flex-wrap: wrap;
}
.grid > div {
	float: left;
	box-sizing: border-box;
}
.d-1 {
	width: 10%;
}
.d-2 {
	width: 20%;
}
.d-3 {
	width: 30%;
}
.d-4 {
	width: 40%;
}
.d-5 {
	width: 50%;
}
.d-6 {
	width: 60%;
}
.d-7 {
	width: 70%;
}
.d-8 {
	width: 80%;
}
.d-9 {
	width: 90%;
}
.d-10 {
	width: 100%;
}
@media (max-width: 1000px) {
	.m-1 {
		width: 10%;
	}
	.m-2 {
		width: 20%;
	}
	.m-3 {
		width: 30%;
	}
	.m-4 {
		width: 40%;
	}
	.m-5 {
		width: 50%;
	}
	.m-6 {
		width: 60%;
	}
	.m-7 {
		width: 70%;
	}
	.m-8 {
		width: 80%;
	}
	.m-9 {
		width: 90%;
	}
	.m-10 {
		width: 100%;
	}
}