<!DOCTYPE html>
<html>
<head>
	<title>Template</title>
	<link rel="stylesheet" type="text/css" href="grid.css">
	<link rel="stylesheet" type="text/css" href="theme.css">
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="grid">
				<div class="d-5 left">
					<a href="/"><img src="/assets/img/logo.png" title="Phat Flower" height="100px"/></a>
				</div>
				<div class="d-5 right menu">
					<span class="menu-item"><a href="listing.html" class="wave">Hoa</a></span>
					<span class="menu-item"><a href="listing.html" class="wave">Cây kiểng</a></span>
					<span class="menu-item"><a href="listing.html" class="wave">Chậu</a></span>
					<span class="menu-item"><a href="listing.html" class="wave">Giới thiệu</a></span>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="grid">
			<div class="m-10 d-7 d-pr-2 m-pr-0 m-pb-2">
				<div class="parallax">
					<img class="parallax-background" src="/assets/img/colorful.jpg" alt="">
					<div class="parallax-content center">
						<h1 style="font-size: 64px">- PRX301 PROJECT -</h1>
						<p>
							<span>Student: </span><b>NGUYEN HONG PHAT</b><br/>
							<span>ID: </span><b>SE63348</b><br/>
							<span>Class: </span><b>SE1262</b>
						</p>
					</div>
				</div>
			</div>
			<div class="m-10 d-3">
				<div class="parallax">
					<img class="parallax-background" src="/assets/img/parallax.jpg" alt="">
					<div class="parallax-content center">
						<h3>- PROJECT INFORMATION -</h3>
						<p>
							<button class="wave white-text">View info +</button>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="grid container">
			<div class="m-10 d-5">
				<div class="center">
					<h1 class="light">Tôi muốn mua <b>HOA</b></h1>
					<p>
						<input type="text" name="search">
						<button class="wave" type="submit">Tìm ngay</button>
					</p>
				</div>
			</div>
			<div class="m-10 d-5">
				<div class="center">
					<h1 class="light">Tôi muốn mua <b>CÂY KIỂNG</b></h1>
					<p>
						<input type="text" name="search">
						<button class="wave" type="submit">Tìm ngay</button>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>