<!DOCTYPE html>
<html>
<head>
	<title>Template</title>
	<link rel="stylesheet" type="text/css" href="grid.css">
	<link rel="stylesheet" type="text/css" href="theme.css">
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="grid">
				<div class="d-5 left">
					<a href="/"><img src="/assets/img/logo.png" title="Phat Flower" height="100px"/></a>
				</div>
				<div class="d-5 right menu">
					<span class="menu-item"><a class="wave">Hoa</a></span>
					<span class="menu-item"><a class="wave">Cây kiểng</a></span>
					<span class="menu-item"><a class="wave">Chậu</a></span>
					<span class="menu-item"><a class="wave">Giới thiệu</a></span>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
        <div class="grid container">
            <div class="m-10 d-3 d-pr-4">
                <h3>Phân loại</h3>
                <div class="hr"></div>
                <p>
                    <small><b>Màu sắc</b></small>
                    <div>
                        <div class="a-color" style="background: #123456">
                            <div class="amount">10</div>
                        </div>
                        <div class="a-color" style="background: #fafafa">
                            <div class="amount">5</div>
                        </div>
                        <div class="a-color" style="background: #E84C3D">
                            <div class="amount">230</div>
                        </div>
                        <div class="a-color" style="background: #F39C11">
                            <div class="amount">3</div>
                        </div>
                        <div class="a-color" style="background: #dce3f7">
                            <div class="amount">2</div>
                        </div>
                        <div class="a-color" style="background: #861850">
                            <div class="amount">4</div>
                        </div>
                        <div class="a-color" style="background: #A0D468">
                            <div class="amount">171</div>
                        </div>
                        <div class="a-color" style="background: var(--accent)">
                            <div class="amount">33</div>
                        </div>
                    </div>
                </p>
                <div class="hr"></div>
                <p>
                    <small><b>Giống</b></small>
                    <div>
                        <div class="checkbox">
                            <input id="type-senda" type="checkbox" name="type" value="senda">
                            <label for="type-senda">Sen đá</label>
                        </div>
                        <div class="checkbox">
                            <input id="type-thuysinh" type="checkbox" name="type" value="thuysinh">
                            <label for="type-thuysinh">Thuỷ sinh</label>
                        </div>
                        <div class="checkbox">
                            <input id="type-caytrongnha" type="checkbox" name="type" value="caytrongnha">
                            <label for="type-caytrongnha">Cây trong nhà</label>
                        </div>
                    </div>
                </p>
            </div>
            <div class="m-10 d-7">
                <h3>Tất cả cây cảnh</h3>
                <div class="hr"></div>
                <div class="grid">
                    <div class="a-product m-5 d-2">
                        <div class="overlay">
                            <div class="center">
                                <a href="#" class="wave">Go to site</a>
                                <div class="d-pb-2"></div>
                                <a href="#" class="wave">Show relevant</a>
                                <div class="d-pb-2"></div>
                                <a href="#" class="wave">View more</a>
                            </div>
                        </div>
                        <div class="preview">
                            <img src="https://sendalongphung.com/wp-content/uploads/2018/11/10-sen-da-no-hoa-mua-xuan.jpg" alt="Senda">
                        </div>
                        <div class="meta">
                            <h4>Sen đá huỷ diệt</h4>
                            <span class="price">250,000 vnđ</span><br/>
                            <small class="handwriting">cayvahoa.net</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</body>
</html>