<!DOCTYPE html>
<html>
<head>
	<title>Template</title>
	<link rel="stylesheet" type="text/css" href="grid.css">
	<link rel="stylesheet" type="text/css" href="theme.css">
</head>
<body class="gradient">
	<div class="header">
		<div class="container">
			<div class="grid">
				<div class="d-5 left">
					<h1 class="white-text light handwriting">Crawler</h1>
				</div>
				<div class="d-5 right menu">
					<span class="menu-item">Search</span>
					<span class="menu-item">Job</span>
					<span class="menu-item">Freelance</span>
					<span class="menu-item">About Us</span>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="white-text container">
			<h1 style="font-size: 64px; font-weight: lighter;">PRX301 Project</h1>
			<span>Student: </span><h2>Nguyen Hong Phat</h2>
			<span>ID: </span><b>SE63348</b><br/>
			<span>Class: </span><b>SE1262</b>
		</div>

	</div>
	<div class="section">
		<div class="grid container">
			<div class="d-5">
				<div class="card shadow rounded center pointer stripped-hover"><h1 class="light">I'm looking for a <b>Job</b></h1></div>
			</div>
			<div class="d-5">
				<div class="card shadow rounded center pointer stripped-hover"><h1 class="light">I'm looking for a <b>Freelance</b></h1></div>
			</div>
			<div class="d-10">
				<span class="light white-text">Or type some keywords</span>
				<input type="text" name="search">
				<input type="submit" value="Search">
			</div>
		</div>
	</div>
</body>
</html>