<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="grid.css">
	<title>Test</title>
</head>
<body>
	<div class="grid container shadow rounded">
		<div class="d-3 m-10" style="background: #004d40; height: 100px"></div>
		<div class="d-3 m-10" style="background: #8bc34a; height: 100px"></div>
		<div class="d-3 m-10 grid" style="background: #0d47a1; height: 100px">
			<div class="d-3" style="background: #004d40; height: 100px"></div>
			<div class="d-3" style="background: #8bc34a; height: 100px"></div>
			<div class="d-3" style="background: #ef6c00; height: 100px"></div>
			<div class="d-1" style="background: #0d47a1; height: 100px"></div>
		</div>
		<div class="d-1 m-10" style="background: #ef6c00; height: 100px"></div>
	</div>
</body>
</html>